body {
	background: #EEE;
}

input[type=text]{
	width: 100%;
    padding: 3px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
#header{
	background-color: #480508;
	top:0px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#title{
	background-color: #4C2154;
	top:0px;
	position: fixed;
	width: 100%;
}

.btn{
	min-width: 80px;
	border-left-color: 5px solid #0D6D0F;
	border-radius: 0px;
}

.textCenter{
	text-align: center;
}

.textCenter > ul > li{
	text-align: center;
}

.btn-display{
	background-color: #480508;
}

.btn-type{
	margin-bottom: 10px;
	margin-left: 5px;
}

.btn-header {
    font-weight: bold;
    font-size: 14px;
}

.header-menu ul{
	margin-top: 40px;
    padding: 0;
    list-style: none;
}

.header-menu>ul>li{
	display: inline-block;
	padding-left: 20px;
	font-size: 13px;
	font-weight: bold;
}

.header-menu-scroll ul{
    padding: 0;
    list-style: none;
    
}

.header-menu-scroll>ul>li{
	display: inline-block;
	padding-left: 20px;
	font-size: 13px;
	font-weight: bold;
}

.header-menu>ul>li>a{
	color: white;
	font-weight: bold;
    font-size: 13px;
}

.header-menu>ul>li>a:HOVER{
	color: #C7888A;
	font-weight: bold;
    font-size: 15px;
}

.header-menu-scroll>ul>li>a{
	color: white;
	font-weight: bold;
    font-size: 13px;
}

.header-menu-scroll>ul>li>a:HOVER{
	color: #C7888A;
	font-weight: bold;
    font-size: 15px;
}

.btn-display:HOVER {
	border-top: 2px solid #C7888A;
	text-align: center;
	color: #C7888A;
}

.borderHomePage{
	background: white;
	padding-top: 70px;
	border-radius: 10px;
}
.borderHomePage-none{
	margin-top: 200px;
}
.img-background{
	background-color: #480508;
	margin: 10px 10px 10px 10px ;
	transform: scale(0.9);
	width: 47%;
	float: left;
}

.img-background:HOVER {
	transform: scale(1);
	transition: all 500ms ease-in;
}

.center-align{
	text-align: center;
	color: white;
}

.border-component{
	border: 4px solid #F7000B;
	margin: 5px 5px 5px 5px ;
}

.type-background{
	background-color: #CC5858;
}

.link-login>ul>li>a{
	color: #FF0C64;
	font-size: 15px;
	font-weight:bold;
	margin-left: 80px;
}

#txt-header{
	color: white; 
	font-size: 60px; 
	font-weight: bold;
}

#img-header{
	width: 70%; 
	height: 70%; 
	margin-top: 20px; 
	margin-bottom: 20px;
}

.title
{
	border: 1px solid #480508;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #480508;
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 0;
    padding: 8px 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

<!--footer-->
.border-box{
	border: 1px solid #4D4E56;
	border-radius: 5px;
	padding: 0;
}

.list>a{
	color: rgba(169, 68, 66, 1);
}

.username .logout{
	color: white;
	font-size: 15px;
	font-weight: bolder;
}

@CHARSET "utf-8";

.footer{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #481010;
	color: white;
	font-size: 14px;
}

.link-footer a{
	color: white;
	font-size: 14px;
}

.img-icon{
	width: 10%;
}
#footer{
	background-color: #480508;
	border-top: 1px solid black;
	padding-top: 15px;
	clear: both;
	height: 170px;
	margin-bottom: 0px;
	width: 100%;
	border-top: 2px solid #480508;
}

#footer hr{
    border: 0;
    border-top: 1px solid black;
    margin: 8px auto;

}

.footer-left img{
	height: 25px;
}
.footer-left a{
	text-decoration: none;
	color: #400000;
}
