<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Struts1x</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>filePath</param-name>
		<param-value>C:\Users\utcung\workspace\RaoVat\WebContent\imagebaiviet</param-value>
	</context-param>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientHomePageController</servlet-name>
		<servlet-class>controller.ClientHomePageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientHomePageController</servlet-name>
		<url-pattern>/ClientHomePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserProductListController</servlet-name>
		<servlet-class>controller.UserProductListController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SanPhamModel</display-name>
		<servlet-name>SanPhamModel</servlet-name>
		<servlet-class>model.SanPhamModel</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookProductController</display-name>
		<servlet-name>BookProductController</servlet-name>
		<servlet-class>controller.BookProductController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductTypeLstController</display-name>
		<servlet-name>ProductTypeLstController</servlet-name>
		<servlet-class>controller.ProductTypeLstController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserProductListController</servlet-name>
		<url-pattern>/ProductList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SanPhamModel</servlet-name>
		<url-pattern>/SanPhamModel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookProductController</servlet-name>
		<url-pattern>/BookProductController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductTypeLstController</servlet-name>
		<url-pattern>/ProductTypeLstController</url-pattern>
	</servlet-mapping>
	
</web-app>
